<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionName="1.0.0" package="edu.nyu.cs.omnidroid" android:versionCode="1">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ui.EventAppListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
        <activity android:name=".ui.EventListActivity" android:label="@string/app_name">
            <intent-filter><action android:name="android.intent.action.CALL"></action>
            <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".bkgservice.OmniBR"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
      <service android:name=".bkgservice.BRService" />
    <activity android:name=".ui.Summary"></activity>
    
</application>
    
</manifest> 
