<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionName="1.0.0"
          package="edu.nyu.cs.omnidroid"
          android:versionCode="1">

    <application android:icon="@drawable/icon" android:label="@string/app_name">

		<!--  We need to start our service on bootup -->
		<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	    <receiver android:name=".bkgservice.Starter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

		<!--  The main UI for our OmniDroid -->
        <activity android:name=".ui.Overview"
                  android:label="@string/overview_title">
            <intent-filter>
            	<!-- Create an application launder from the application menu  -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Associate our application with omnidroid data types  -->
			<!--  We don't need this yet, but we might at one point
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.nyu.omnidroid" />
            </intent-filter>
			-->
		</activity>

		<!--  Runs all our Test Cases -->
        <activity android:name=".tests.TestApp"
                  android:label="@string/test_app">
		</activity>

		<!--  External EventApp testcase -->
        <activity android:name=".external.eventapp.OmniCPActivity"
                  android:label="@string/event_app">
		</activity>

		<!--  Activity used to by the event catcher to determine
		      what application's actions to catch -->
        <activity android:name=".ui.EventCatcher"
                  android:label="@string/event_catcher_title">
		</activity>

		<!--  Activity used to by the event catcher to determine
		      what actions to catch for a given application -->
        <activity android:name=".ui.EventCatcherActions"
                  android:label="@string/event_catcher_actions_title">
		</activity>

		<!--  Activity used to by the event catcher to determine
		      what actions to catch for a given application -->
        <activity android:name=".ui.ActionThrowerData"
                  android:label="@string/action_thrower_data">
		</activity>

		<!--  Activity used to list all the phone application packages -->
        <activity android:name=".ui.PackageLister"
                  android:label="@string/package_lister">
		</activity>

		<!--  Activity used to by the action thrower to determine
		      what application's actions to throw -->
        <activity android:name=".ui.ActionThrower"
                  android:label="@string/action_thrower_title">
		</activity>

		<!--  Activity used to by the action thrower to determine
		      what actions to throw for a given application -->
        <activity android:name=".ui.ActionThrowerActions"
                  android:label="@string/action_thrower_actions_title">
		</activity>

		<!-- Test our service -->
        <activity android:name=".tests.TestService"
                  android:label="@string/service_name">
        </activity>
        
        <!-- Test the CP -->
        <activity android:name=".tests.MainCP"
                  android:label="@string/maincp_name">
        </activity>

		<!--  TODO: Replace with Catcher/Thrower Services -->	        
		<service android:name=".bkgservice.BRService" />

		<!--  TODO: The service that runs to catch events -->
		<!--
		<service android:name=".bkgservice.CatcherService" />
		 -->

		<!--  TODO: The service that runs to throw actions -->
		<!--
		<service android:name=".bkgservice.ThrowerService" />
		 -->

		<!--  Our Content Provider that stores data to link between 
		      the ThrowerApp and the CatcherApp -->
		 <provider android:name=".core.CP"
         android:authorities="edu.nyu.cs.omnidroid.core.maincp" />

	</application>

</manifest> 
