

.BG_Null
{
}
.BG_Base
{
	background-color:#fff2d5;
}
.BG_VeryLight
{
	background-color:#ffffff;
}
.BG_Light
{
	background-color:#FFFFCC;
}
.BG_Mid
{
	background-color:#366100;
}
.BG_Dark
{
	background-color:#333300;
}
.BG_VeryDark
{
	background-color:#000000;
}



.F_VeryLight
{
	color:#ffffff;
}
.F_Light
{
	color:#FFFFCC;
}
.F_Mid
{
	color:#366100;
}
.F_Dark
{
	color:#333300;
}
.F_VeryDark
{
	color:#000000;
}
   

body
{
	text-align:Center;
	background-color:#FFFFFF;
  
  background-image: url(/_backgroundImages/b9fe0f88-b148-4228-9fd6-c39104b6c345.jpg);
  background-position: left top;
  background-repeat: repeat-x;
  
	font-family:Arial, Geneva, sans-serif;
	font-size:10pt;
	color:#000000;
}




.MS_MasterFrame
{
	margin-left:auto;
	margin-right:auto;
}


td, th
{
  font-family:Arial, Geneva, sans-serif;
  font-size:10pt;
}


.MS_MasterFrame
{
	width:780px;
}
   
.MSC_SiteWidth,.MS_MasterHeader,.MS_MasterGlobalLinks,.MS_MasterPrimaryNav,.MS_MasterFooter,.MS_MasterTopAD,.MS_MasterBottomAD
{
	width:100%;
}



.MSC_HeaderFrame
{
	background:#333300;
	width:100%;
}

.MSC_HeaderDescription
{
	font-size:12px;
	margin:0px;
}
	


.MSC_GlobalLinkSpace
{
	padding:10px;
	font-size:10pt;
	color:#ffffff;
}
.MSC_GlobalLink
{
	font-size:10pt;
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
}
.MSC_GlobalLink:hover
{
	font-size:10pt;
	color:#ffffff;
	text-decoration:underline;
	font-weight:bold;
}
.MSC_GlobalLink:visited
{
	font-size:10pt;
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
}
.MSC_GlobalLinkSpace
{
	font-size:10pt;
}


	
.MSC_PrimaryNavFrame
{
	background:#509200;
	width:100%;
	margin:1px 0px 5px 0px;
	text-align:left;
}
.MSC_PrimaryNavLink
{
	color:#ffffff;
	font-size:12px;
	text-decoration:none;
}
.MSC_PrimaryNavLink:hover
{
	color:#ffffff;
	font-size:12px;
	text-decoration:underline;
}
.MSC_PrimaryNavLink:visited
{
	color:#ffffff;
	font-size:12px;
	text-decoration:none;
}
.MSC_PrimaryNavLinkFrame-On
{
	background:#E3FAE7;
	white-space:nowrap;
	padding:5px 10px 5px 10px;
}
.MSC_PrimaryNavLink-On
{
	color:#325884;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
}
.MSC_PrimaryNavLink-On:hover
{
	color:#325884;
	font-size:12px;
	text-decoration:underline;
	font-weight:bold;
}
.MSC_PrimaryNavLink-On:visited
{
	color:#325884;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
}
.MSC_PrimaryNavLeftSpace
{
	width:1px;
	white-space:nowrap;
	background:#000000;
	font-size:1px;
}
.MSC_PrimaryNavRightSpace
{
	width:1px;
	background:#b5e180;
	white-space:nowrap;
	font-size:1px;
}
.MSC_PrimaryNavTopSpace
{
	height:1px;
	background:#000000;
}
.MSC_PrimaryNavBottomSpace
{
	height:1px;
	background:#b5e180;
}



.MS_MasterLeftNav
{
	background:#b5e180;
}
.MSC_SecondaryNavFrame
{
	background:#E3FAE7;
	width:100%;
	text-align:left;
}
.MSC_SecondaryNavLink
{
	color:#325884;
	font-size:10pt;
	text-decoration:none;
}
.MSC_SecondaryNavLink:hover
{
	color:#325884;
	font-size:10pt;
	text-decoration:underline;
}
.MSC_SecondaryNavLink:visited
{
	color:#325884;
	font-size:10pt;
	text-decoration:none;
}
.MSC_SecondaryNavLeftSpace
{
	font-size:1px;
	background:#509200;
	width:1px;
	white-space:nowrap;
}
.MSC_SecondaryNavRightSpace
{
	font-size:1px;
	background:#ffffff;
	width:1px;
	white-space:nowrap;
}
.MSC_SecondaryNavTopSpace
{
	background:#509200;
	height:1px;
}
.MSC_SecondaryNavBottomSpace
{
	background:#ffffff;
	height:1px;
}
.MSC_SecondaryNavLeftFrame-On
{
	padding:5px;
	background:#ffffff;
}
.MSC_SecondaryNavLinkFrame-On
{
	white-space:nowrap;
	padding:5px;
	background:#9cd655;
}
.MSC_SecondaryNavLink-On
{
	padding:5px;
	background:#9cd655;
	font-size:10pt;
	font-weight:bold;
	color:#325884;
	text-decoration:none;
}
.MSC_SecondaryNavLink-On:hover
{
	padding:5px;
	background:#9cd655;
	font-size:10pt;
	font-weight:bold;
	color:#325884;
	text-decoration:underline;
}
.MSC_SecondaryNavLink-On:visited
{
	padding:5px;
	background:#9cd655;
	font-size:10pt;
	font-weight:bold;
	color:#325884;
	text-decoration:none;
}
   


.MS_MasterBody
{
	background:#9cd655;
}
.MSC_Body
{
	padding:10px;
	text-align:left;
	background:#9cd655;
	height:100%;
}
	


.MSC_FooterFrame
{
	background:#333300;
	padding:5px;
	text-align:center;
}
.MSC_FooterLink
{
	color:#ffffff;
	font-size:10pt;
	text-decoration:none;
}
.MSC_FooterLink:hover
{
	color:#ffffff;
	font-size:10pt;
	text-decoration:underline;
}
.MSC_FooterLink:visited
{
	color:#ffffff;
	font-size:10pt;
	text-decoration:none;
}
.MSC_FooterLinkSpacer
{
	color:#ffffff;
	font-size:10pt;
}
.MSC_FooterText
{
	color:#ffffff;
	font-size:10pt;
}



.MSC_CollectDataTable,.MSC_CollectDataTable
{
	font-size:10pt;
}


    
.MSC_ECBorder
{
  border-color:  #366100;
}

  
